# ignoring basic directories without code
/Algorithmen und Datenstrukturen/
/Betriebssysteme/
/Klausuren_WS20-21/
/Mathematik 1/
/Mathematik 2/
/Programmierkurs 2/
/Rechnerarchitektur/
/SQL/
/Software Engineering/
/Stochastik/
/Theoretische Informatik/
